nav ul {
  display: flex;
  gap: 20px;
  list-style: none;
}
nav ul li {
  border-bottom: 1px solid transparent;
  cursor: pointer;
}
nav ul li:hover {
  border-bottom: 1px solid black;
}

.banner {
  display: flex;
}
.banner .info {
  flex: 1;
  flex-direction: column;
  justify-content: space-around;
  padding: 30px;
}
.banner .image-container {
  flex: 1;
  width: 200px;
}
.banner .image-container img {
  width: 100%;
}

*,
*::before,
*::after {
  margin: 0;
  box-sizing: border-box;
}

.active {
  border-bottom: 1px solid black;
}

.container {
  min-height: 100vh;
  background-color: hsl(229deg, 42%, 21%);
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.container .content {
  height: 100px;
  width: 25%;
  background-color: orangered;
}

.warning, .error, .success {
  border: 10px solid #ccc;
  padding: 10px;
  color: #333;
}

.success {
  border-color: green;
}

.error {
  border-color: red;
}

.warning {
  border-color: yellow;
}/*# sourceMappingURL=contact.css.map */