:root {
  --primary: hsl(229, 42%, 21%);
  --primary-hover: hsl(229, 34%, 50%);
  --secondary: orangered;
  --secondary-hover: rgb(251, 137, 96);
  --accent: orange;
}

* {
  margin: 0;
  box-sizing: border-box;
}

header {
  background: #f4f6fc;
  top: 0;
  height: 60px;
  position: sticky;
  align-items: center;
}

header,
.banner,
.intro,
.project,
.testimoni,
.work-approach,
footer {
  padding: 10px 50px;
}

.logo {
  color: var(--secondary);
}

.banner {
  background: var(--primary);
  color: white;
}

.button {
  background: var(--secondary);
  color: white;
  cursor: pointer;
}

.button:hover {
  background-color: var(--secondary-hover);
}

.work:hover {
  background-color: var(--primary-hover);
}

.background > .content::first-letter {
  font-size: 30px;
}

.intro {
  color: var(--primary);
}

.title {
  color: var(--secondary);
}

.project {
  background: var(--primary);
  color: white;
}

.testimoni {
  background: #f4f6fc;
}

.work-approach {
  background: var(--accent);
  color: white;
  position: relative;
}

.work-approach > .title {
  color: white;
}

.work {
  background: var(--primary);
}

footer {
  background: var(--primary);
  color: white;
}

.float {
  position: fixed;
  bottom: 10px;
  right: 10px;
}

/* .project > .image-container {
    position: relative;
    right: 200px;
}

header {
    position: sticky;
    top: 0;
} */

.flex-container {
  display: flex;
}

.logo {
  margin-right: auto;
  align-self: center;
}

nav > ul {
  display: flex;
  gap: 20px;
  list-style: none;
}
nav > ul > li {
  border-bottom: 1px solid transparent;
}
nav > ul > li:hover {
  border-bottom: 1px solid black;
  cursor: pointer;
}
.active {
  border-bottom: 1px solid black;
}

.banner {
  display: flex;
}

.banner > .info {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 30px;
}
.banner > .image-container {
  flex: 1;
  width: 200px;
  background-color: white;
}

.image-container > img {
  width: 100%;
}

.intro {
  text-align: center;
}

.service-content {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.service-content > .card {
  padding: 20px;
}

.service-content > .card > .card-title {
  font-weight: 700;
  font-size: 1.5rem;
}

.hamburger > img {
  height: 100%;
}

.hamburger {
  display: none;
  height: 25px;
}

@media screen and (max-width: 768px) {
  .hamburger {
    display: block;
  }
  nav > ul {
    display: none;
  }
  .banner {
    flex-direction: column-reverse;
  }
  .banner > .image-container {
    align-self: center;
  }
}
